body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #ddd;
    font-size: larger;
    height: 6vh;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

main {
    /* padding: 20px; */
    /* margin-top: -1.2rem; */
    /* height: 100vh; */
}
.banner {
    height: 70vh;
    /* background-color: #007bff; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/bannerimg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
}

.banner h2,
.banner_btn {
    margin-bottom: 20px;
text-decoration: none;
padding: 1rem;
color: white;
}
.banner_btn{
    background-color: wheat;
    color: black;
    font-size: 1rem;

}

/* Product card styles */
.product_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem 2rem 1rem 2rem;
}

.product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    color: #666;
}

.product-card button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #555;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Add these styles to your existing style.css file */

#loginForm,
#signupForm {
    max-width: 400px;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5rem auto 5rem auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

a {
    color: #007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
